.nav {
    margin-right: 10%;
}

.nav ul {
    list-style: none;
    margin-top: 0.1rem;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin: auto;
}

.nav a {
    text-decoration: none;
    color: #22223b;
}

.nav a:hover,
.nav a:active {
    color: #9a8c98;
}

.nav button {
    font: inherit;
    font-weight: bold;
    font-size: 1rem;
    background: #9a8c98;
    border: 1px solid #9a8c98;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-right: 1rem;
    color: #22223b;
    width: 10rem;
    height: 3.25rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    transition: all 0.1s ease-in-out;
}

.nav button:focus {
    outline: none;
}

.nav button:hover {
    background-color: #cebbcb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}
.nav button:active {
    background-color: #cebbcb;
    box-shadow: 0 5px 3px #666;
    transform: translateY(3px);
}
