form {
    background-color: #4a4e69;
    border-radius: 12px;
    color: #f2e9e4;
    width: 40%;
    margin: 7rem auto 0;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.h3 {
    margin-top: 8rem;
    font-size: 3rem;
    text-shadow: 0px 0px 5px #d3d3d3;
    color: #f2e9e4;
    text-align: center;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin: 0.5rem 0;
    box-sizing: border-box;
    border: none;
    border-radius: 2rem;
    background-color: #f2e9e4;
    box-shadow: 0px 0px 10px #d3d3d3;
    font-size: 16px;
}

input:invalid {
    background-color: #f09360;
}

label {
    align-self: flex-start;
    margin: 0rem 4rem;
}

.label_error {
    align-self: flex-start;
    margin: -0.4rem 0rem 0.5rem 4rem;
    color: coral;
    font-size: 0.75rem;
}

.button {
    width: 10rem;
    height: 3.25rem;
    background-color: #9a8c98;
    color: #f2e9e4;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px #d3d3d386;
    font-size: 1rem;
    border-radius: 2rem;
}

.button:hover {
    background-color: #cebbcb;
}

.button:active {
    background-color: #cebbcb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_infoText {
    text-align: center;
    margin: 1rem 1rem;
    text-shadow: 2px 2px 3px rgba(245, 245, 245, 0.336);
}

.p_authenticationText {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 4px;
    cursor: pointer;
}

.p_authenticationText:hover {
    color: cadetblue;
}
