.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

section {
    margin: 6rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color: #4a4e69;
    color: white;
    padding: 2rem;
    border-radius: 12px;
}

.sidebarButton {
    color: #22223b;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 5rem;
    left: 0.5rem;
    z-index: 9;
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
    border: none;
    padding: 0;
}
/* 
.menuIcon {
    color: #22223b;
} */
